<h1>Edit Theater #<%= @theater.id %></h1>

<%= form_tag "/theaters/#{@theater.id}", method: 'put' do %>

  <p>
    <%= label_tag :name, "Theater" %>
    <%= text_field_tag :name, @theater.name, size: 80, placeholder: "Enter a theater here..."  %>
  </p>
  <p>
    <%= label_tag :address, "Address" %>
    <%= text_field_tag :address, @theater.address, size: 80 %>
  </p>
    <%= submit_tag "Update Theater" %>

<% end %>
