<!DOCTYPE html>
<html>
<head>
  <title>MoviesApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <h1>Will's IMDB Clone</h1>
    <nav>
      <th><%= link_to "Movie directory", '/movies' %></th>
      <th><%= link_to "Theater directory", '/theaters' %></th>
    </nav>
  </header>


  <%= yield %>

</body>
</html>
